body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;


    
}



#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 92px;
    background-color: #000000;
}

#main-container {
    width: 1024px;
    height: 3000px;
    border: solid 1px black;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 305px;
    background-color: #dcf2fd;
}

#top-text {

        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
      font-size: 48pt;
    color: white;
    
}

#logo1 {
    
}