body {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;


    
}



#top-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 92px;
    background-color: #000000;
}

#main-container {
    width: 1024px;
    height: 3000px;
    border: solid 1px black;
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1024px;
    height: 305px;
    background-color: #dcf2fd;
}

#top-text {

        font-family: "Modak", system-ui;
        font-weight: 400;
        font-style: normal;
      font-size: 48pt;
    color: white;
    
}

#logo1 {
   display: block;
   margin: auto;
   position: relative;
   bottom: 335px;
}

#info- {

    font-family: "Baloo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight:500;
  font-style: normal;
  margin-left: 95px;
  position: relative; 
  top: -733px;
  font-size: 16.7px;

}

#info-logo {
    margin-left: 12px;
  position: relative; 
  top: -760px;
}

#home {
  margin-right: 65%;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
}